.header{
    width: 100%;
    height: 100px;
    background-color: #202024;
    background-image: url('./assets/imagem/simbolo_ignite.png');
    background-repeat: no-repeat;
    background-position: center;
}